header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.headerButtonContainer{
    float:right;
}
.logo{
    background-color: #ff7f7f;
    height: 35px;
    animation-duration: 8s;
    transition-timing-function: linear;
    width: 35px;
}

.logoContainer{
    float:left;
}

.header-btn{
    float: right;
}

.modal{
    align-items: center;
    width: 30%;
    background-color: white;
}

.ReactModal__Overlay{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0,0,0,0.5) !important;
}

.MuiButton-label{
    justify-content: center !important;
}
