header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.logo{
    background-color: #ff7f7f;
    height: 35px;
    animation-duration: 8s;
    transition-timing-function: linear;
    width: 35px;
}

.login{
    float: right;
}